Repository cruster86/momo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend, terraform, helm

.gitlab-ci.yml:

stages:
  - module-pipelines

backend:
  stage: module-pipelines
  trigger:
    include:
      - "/backend/.gitlab-ci.yml"
    strategy: depend
  only:
    changes:
      - backend/**/*

frontend:
  stage: module-pipelines
  trigger:
    include:
      - "/frontend/.gitlab-ci.yml"
    strategy: depend
  only:
    changes:
      - frontend/**/*

terraform:
  stage: module-pipelines
  trigger:
    include:
      - "/terraform/.gitlab-ci.yml"
    strategy: depend
  only:
    changes:
      - terraform/**/*

helm:
  stage: module-pipelines
  trigger:
    include:
      - "/helm/.gitlab-ci.yml"
    strategy: depend
  only:
    changes:
      - helm/**/*

Update helm/.gitlab-ci.yml, terraform/scripts/deploy.sh
  helm/.gitlab-ci.yml
  terraform/scripts/deploy.sh
Due: terraform, helm

Update terraform/main.tf, terraform/scripts/deploy.sh, helm/momo-store/charts/momo-store-frontend/templates/ingress.yaml, helm/.gitlab-ci.yml, helm/momo-store/charts/momo-store-frontend/values.yaml
  helm/.gitlab-ci.yml
  helm/momo-store/charts/momo-store-frontend/templates/ingress.yaml
  helm/momo-store/charts/momo-store-frontend/values.yaml
  terraform/main.tf
  terraform/scripts/deploy.sh
Due: terraform, helm

Update helm/momo-store/charts/momo-store-frontend/templates/deployment.yaml, helm/momo-store/charts/momo-store-frontend/values.yaml, helm/.gitlab-ci.yml
  helm/.gitlab-ci.yml
  helm/momo-store/charts/momo-store-frontend/templates/deployment.yaml
  helm/momo-store/charts/momo-store-frontend/values.yaml
Due: helm

Update terraform/scripts/deploy.sh, tmp/deploy.sh
  terraform/scripts/deploy.sh
  tmp/deploy.sh
Due: terraform

add monitoring charts
  helm/monitoring-tools/charts/alertmanager/.helmignore
  helm/monitoring-tools/charts/alertmanager/Chart.yaml
  helm/monitoring-tools/charts/alertmanager/templates/_helpers.tpl
  helm/monitoring-tools/charts/alertmanager/templates/configmap.yaml
  helm/monitoring-tools/charts/alertmanager/templates/deployment.yaml
  helm/monitoring-tools/charts/alertmanager/templates/ingress.yaml
  helm/monitoring-tools/charts/alertmanager/templates/services.yaml
  helm/monitoring-tools/charts/alertmanager/values.yaml
  helm/monitoring-tools/charts/grafana/.helmignore
  helm/monitoring-tools/charts/grafana/Chart.yaml
  helm/monitoring-tools/charts/grafana/dashboards/Kubernetes___Compute_Resources___Pod.json
  helm/monitoring-tools/charts/grafana/templates/_helpers.tpl
  helm/monitoring-tools/charts/grafana/templates/deployment.yaml
  helm/monitoring-tools/charts/grafana/templates/ingress.yaml
  helm/monitoring-tools/charts/grafana/templates/pvc.yaml
  helm/monitoring-tools/charts/grafana/templates/services.yaml
  helm/monitoring-tools/charts/grafana/values.yaml
  helm/monitoring-tools/charts/prometheus/.dockerignore
  helm/monitoring-tools/charts/prometheus/.helmignore
  helm/monitoring-tools/charts/prometheus/Chart.yaml
  helm/monitoring-tools/charts/prometheus/prom-app-example.yaml
  helm/monitoring-tools/charts/prometheus/rules/momo-store.yaml
  helm/monitoring-tools/charts/prometheus/templates/configmap.yaml
  helm/monitoring-tools/charts/prometheus/templates/deployment.yaml
  helm/monitoring-tools/charts/prometheus/templates/ingress.yaml
  helm/monitoring-tools/charts/prometheus/templates/rules.yaml
  helm/monitoring-tools/charts/prometheus/templates/services.yaml
  helm/monitoring-tools/charts/prometheus/values.yaml
Due: helm

Update helm/monitoring-tools/charts/alertmanager/templates/configmap.yaml, helm/monitoring-tools/charts/prometheus/templates/rules.yaml, helm/.gitlab-ci.yml, terraform/scripts/deploy.sh
  helm/.gitlab-ci.yml
  helm/monitoring-tools/charts/alertmanager/templates/configmap.yaml
  helm/monitoring-tools/charts/prometheus/templates/rules.yaml
  terraform/scripts/deploy.sh
Due: terraform, helm

Update helm/monitoring-tools/charts/alertmanager/templates/configmap.yaml, terraform/scripts/deploy.sh
  helm/monitoring-tools/charts/alertmanager/templates/configmap.yaml
  terraform/scripts/deploy.sh
Due: terraform, helm

Update terraform/main.tf
  terraform/main.tf
Due: terraform

Update terraform/scripts/deploy.sh, helm/.gitlab-ci.yml
  helm/.gitlab-ci.yml
  terraform/scripts/deploy.sh
Due: terraform, helm

Update terraform/scripts/deploy.sh
  terraform/scripts/deploy.sh
Due: terraform

Update infrastructure/.gitlab-ci.yml
  infrastructure/.gitlab-ci.yml
Due: none

Update infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Due: none

Update packages/.gitlab-ci.yml, application/.gitlab-ci.yml, application/scripts/deploy.sh, backend/.gitlab-ci.yml, frontend/.gitlab-ci.yml, infrastructure/.gitlab-ci.yml
  application/.gitlab-ci.yml
  application/scripts/deploy.sh
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  infrastructure/.gitlab-ci.yml
  packages/.gitlab-ci.yml
Due: backend, frontend

Update infrastructure/scripts/prepare.sh, infrastructure/main.tf, infrastructure/variables.tf
  infrastructure/main.tf
  infrastructure/scripts/prepare.sh
  infrastructure/variables.tf
Due: none

Update packages/.gitlab-ci.yml
  packages/.gitlab-ci.yml
Due: none

Update application/scripts/deploy.sh
  application/scripts/deploy.sh
Due: none

update monitoring ingresses
  packages/monitoring-tools/charts/alertmanager/templates/ingress.yaml
  packages/monitoring-tools/charts/grafana/templates/ingress.yaml
  packages/monitoring-tools/charts/prometheus/templates/ingress.yaml
Due: none

Update packages/monitoring-tools/charts/prometheus/templates/configmap.yaml
  packages/monitoring-tools/charts/prometheus/templates/configmap.yaml
Due: none

Update infrastructure/scripts/deploy.sh, packages/monitoring-tools/charts/prometheus/templates/configmap.yaml
  infrastructure/scripts/deploy.sh
  packages/monitoring-tools/charts/prometheus/templates/configmap.yaml
Due: none

Update README.md
  README.md
Due: none

Update packages/loki/values.yaml
  packages/loki/values.yaml
Due: none

Update packages/.gitlab-ci.yml, infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
  packages/.gitlab-ci.yml
Due: none
