Repository cruster86/momo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend, terraform, helm

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

terraform:
  stage: module-pipelines
  trigger:
    include:
    - /terraform/.gitlab-ci.yml
    strategy: depend

helm:
  stage: module-pipelines
  trigger:
    include:
    - /helm/.gitlab-ci.yml
    strategy: depend

Update helm/.gitlab-ci.yml, terraform/scripts/deploy.sh
  helm/.gitlab-ci.yml
  terraform/scripts/deploy.sh
Due: terraform, helm

Update helm/momo-store/Chart.yaml Deleted tmp/deploy_app.sh
  helm/momo-store/Chart.yaml
  tmp/deploy_app.sh
Due: helm

Update helm/.gitlab-ci.yml
  helm/.gitlab-ci.yml
Due: helm

Update helm/.gitlab-ci.yml, helm/momo-store/Chart.yaml
  helm/.gitlab-ci.yml
  helm/momo-store/Chart.yaml
Due: helm

Update helm/momo-store/Chart.yaml
  helm/momo-store/Chart.yaml
Due: helm

Update helm/momo-store/Chart.yaml, helm/.gitlab-ci.yml
  helm/.gitlab-ci.yml
  helm/momo-store/Chart.yaml
Due: helm

Update terraform/main.tf
  terraform/main.tf
Due: terraform

Update terraform/scripts/deploy.sh
  terraform/scripts/deploy.sh
Due: terraform

Update terraform/scripts/prepare.sh, terraform/.gitlab-ci.yml, terraform/scripts/deploy.sh
  terraform/.gitlab-ci.yml
  terraform/scripts/deploy.sh
  terraform/scripts/prepare.sh
Due: terraform

Update terraform/scripts/prepare.sh
  terraform/scripts/prepare.sh
Due: terraform

Update terraform/scripts/deploy.sh, terraform/variables.tf
  terraform/scripts/deploy.sh
  terraform/variables.tf
Due: terraform

Update helm/momo-store/charts/momo-store-frontend/templates/ingress.yaml, helm/momo-store/charts/momo-store-frontend/values.yaml
  helm/momo-store/charts/momo-store-frontend/templates/ingress.yaml
  helm/momo-store/charts/momo-store-frontend/values.yaml
Due: helm

Update helm/.gitlab-ci.yml, helm/momo-store/charts/momo-store-frontend/templates/ingress.yaml
  helm/.gitlab-ci.yml
  helm/momo-store/charts/momo-store-frontend/templates/ingress.yaml
Due: helm

Update helm/.gitlab-ci.yml, terraform/.gitlab-ci.yml, terraform/scripts/deploy.sh, tmp/deploy.sh
  helm/.gitlab-ci.yml
  terraform/.gitlab-ci.yml
  terraform/scripts/deploy.sh
  tmp/deploy.sh
Due: terraform, helm

Update tmp/deploy.sh, terraform/scripts/deploy.sh, helm/.gitlab-ci.yml, terraform/.gitlab-ci.yml
  helm/.gitlab-ci.yml
  terraform/.gitlab-ci.yml
  terraform/scripts/deploy.sh
  tmp/deploy.sh
Due: terraform, helm

Update terraform/.gitlab-ci.yml, helm/.gitlab-ci.yml
  helm/.gitlab-ci.yml
  terraform/.gitlab-ci.yml
Due: terraform, helm

Update helm/momo-store/charts/momo-store-frontend/templates/ingress.yaml
  helm/momo-store/charts/momo-store-frontend/templates/ingress.yaml
Due: helm

Update helm/.gitlab-ci.yml, terraform/.gitlab-ci.yml
  helm/.gitlab-ci.yml
  terraform/.gitlab-ci.yml
Due: terraform, helm

Update terraform/scripts/deploy.sh, terraform/main.tf
  terraform/main.tf
  terraform/scripts/deploy.sh
Due: terraform

Update terraform/scripts/deploy.sh, helm/momo-store/charts/momo-store-frontend/templates/ingress.yaml, tmp/deploy.sh
  helm/momo-store/charts/momo-store-frontend/templates/ingress.yaml
  terraform/scripts/deploy.sh
  tmp/deploy.sh
Due: terraform, helm

Update terraform/scripts/deploy.sh, helm/momo-store/charts/momo-store-frontend/templates/ingress.yaml
  helm/momo-store/charts/momo-store-frontend/templates/ingress.yaml
  terraform/scripts/deploy.sh
Due: terraform, helm

Path conditions:
  backend: any of: backend/**/*
  frontend: any of: frontend/**/*
  terraform: any of: terraform/**/*
  helm: any of: helm/**/*
